{% extends "layouts/base.jinja" %}

<!-- body block -->
{% block body %}

<header class="page-header navbar flex-md-nowrap sticky-top shadow">
  <a class="navbar-brand col-md-3 mx-3 fs-3 fw-bold" href="/">DDNSS</a>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/logout">Sign out</a>
    </div>
  </div>
</header>

<div id="tab-contents" role="tabpanel" hx-get="/tab1" hx-trigger="load"></div>
<section class="page-wrapper container-fluid d-flex justify-content-end">
  <aside
    class="page-sidebar position-fixed offcanvas offcanvas-start show"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    id="sidebar"
  >
    <div class="offcanvas-header visually-hidden" id="sidebtn">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <nav
      id="nav"
      class="list-group list-group-flush"
      hx-target="main"
      hx-on:htmx-after-on-load="
      document.querySelector('#nav .active').classList.remove('active');
      event.target.classList.add('active')
      "
    >
      <!-- <a class="list-group-item list-group-item-action" hx-get="/dashboard" hx-target="main"> Dashboard </a> -->
      <a class="list-group-item list-group-item-action active" hx-get="/history" hx-target="main"> History </a>
    </nav>
  </aside>

  <main class="page-content p-3" hx-get="/history" hx-trigger="load"></main>
</section>

{% endblock %}
