{% extends "layouts/base.jinja" %}

<!-- body block -->
{% block body %}
<header class="navbar fixed top-0 left-0 w-full z-200 bg-base-300 text-base-content shadow-md">
  <div class="navbar-start">
    <label for="drawer-menu" class="btn btn-square btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
    <a class="btn btn-ghost text-xl" href="/">DDNSS</a>
  </div>
  <div class="navbar-end">
    <a class="btn btn-ghost" href="/logout">Sign out</a>
  </div>
</header>

<section class="drawer lg:drawer-open top-16">
  <input id="drawer-menu" type="checkbox" class="drawer-toggle" />
  <aside class="drawer-side top-16 z-100 h-[calc(100vh-4rem)] shadow-md">
    <label for="drawer-menu" class="drawer-overlay"></label>
    <ul
      id="menu"
      class="menu menu-md min-h-full w-64 bg-base-200 text-base-content"
      hx-target="main"
      hx-on:htmx-after-on-load="
      document.querySelector('#menu .menu-active').classList.remove('menu-active');
      event.target.classList.add('menu-active')
      "
    >
      <!-- <li><a hx-get="/dashboard" hx-target="main"> Dashboard </a></li> -->
      <li><a class="menu-active" hx-get="/history" hx-target="main"> History </a></li>
    </ul>
  </aside>

  <main class="drawer-content flex" hx-get="/history" hx-trigger="load">
    <!-- Page content here -->
  </main>
</section>

{% endblock %}
