<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="btn p-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
      <span class="navbar-toggler-icon"></span>
    </li>
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a hx-get="/history" hx-target="main">History</a></li>
  </ol>
</nav>

<h1 class="my-3 fw-bold">{% block table_title %}{% endblock table_title%}</h1>
<div class="card p-3">
  <div class="table-responsive">
    <table class="table table-hover">
      {% block table_content %}{% endblock table_content%}
    </table>
  </div>
  <div class="row g-3">
    <hr class="d-md-none m-2" style="border: 0px solid" />
    <div class="col">
      <label class="text-nowrap">
        <span class="fw-bold">{{ pagination.count }} pages.</span>Current page is
      </label>
    </div>
    <div class="col align-items-center mt-3">
      <div class="pagination justify-content-center">
        <a
          class="btn btn-dark {% if not pagination.prev %}disabled{% endif %}"
          hx-get="/history?page={{ pagination.prev or '#' }}"
          hx-target="main"
          >&laquo;</a
        >
        {% set delta = 2 %} {% set start = pagination.curr - delta if pagination.curr - delta > 1 else 1 %} {% set end =
        pagination.curr + delta if pagination.curr + delta < pagination.count else pagination.count %} {% if start> 1 %}

        <a class="btn btn-dark" hx-get="/history?page=1" hx-target="main">1</a>
        {% if start > 2 %}
        <span class="btn btn-dark disabled">...</span>
        {% endif %} {% endif %} {% for item in range(start, end + 1) %}
        <a
          class="btn {% if item == pagination.curr %} btn-primary {% else %} btn-dark {% endif %}"
          hx-get="/history?page={{ item or '#' }}"
          hx-target="main"
        >
          {{ item }}
        </a>
        {% endfor %} {% if end < pagination.count %} {% if end < pagination.count - 1 %}
        <span class="btn btn-dark disabled"> ...</span>
        {% endif %}
        <a class="btn btn-dark" hx-get="/history?page={{ pagination.count }}" hx-target="main">{{
          pagination.count
        }}</a>
        {% endif %}

        <a
          class="btn btn-dark {% if not pagination.next %}disabled{% endif %}"
          hx-get="/history?page={{ pagination.next or '#' }}"
          hx-target="main"
          >&raquo;</a
        >
      </div>
    </div>
  </div>
</div>
