{% extends "layouts/error.jinja" %}

<!-- title block -->
{% block title %} Error 400 {% endblock %}
{% block error_title %} Error 400 {% endblock %}
{% block error_content %} Bad Request {% endblock %}