{% extends "layouts/error.jinja" %}

<!-- title block -->
{% block title %} Error 500 {% endblock %}
{% block error_title %} Error 500 {% endblock %}
{% block error_content %} Internal Server Error {% endblock %}