{% extends "base.html" %}

{% block body %}
    <div class="container mt-4">
        <h2>History</h2>
        <p>Last 100 Records</p>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Host</th>
                <th>Success</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for history in history_list %}
                <tr>
                    <td>{{ history.id }}</td>
                    <td>{{ history.host }}</td>
                    <td>
                        {% if history.status == False %}
                            <span class="badge bg-danger">{{ history.status }}</span>
                        {% else %}
                            <span class="badge bg-success">{{ history.status }}</span>
                        {% endif %}
                    </td>
                    <td>{{ history.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
