<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <title>{% block title %} {% endblock %} - DDNSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
</head>


<body>
  {% block body %} {% endblock %}
  <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>