{% extends "layouts/table.jinja" %}

<!-- breadcrumbs block -->
{% block breadcrumbs %}
  <div class="breadcrumbs text-sm">
    <ul>
      <li><a href="/">Home</a></li>
      <li>Record history</li>
    </ul>
  </div>
{% endblock %}

<!-- table_title block -->
{% block table_title %}Record history{% endblock %}

<!-- table_content block -->
{% block table_content %}
  <thead>
    <tr>
      <th class="uppercase">id</th>
      <th class="uppercase">name</th>
      <th class="uppercase">type</th>
      <th class="uppercase">content</th>
      <th class="uppercase">success</th>
      <th class="uppercase">time</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr class="hover:bg-base-300">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.content }}</td>
        <td>
          <span class="badge badge-soft {% if item.success == False %}badge-error{% else %}badge-success"{% endif %}">
            {{ item.success }}
          </span>
        </td>
        <td>{{ item.create_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
