{% extends "layout/table.jinja" %}

<!-- title block -->
{% block title %} History {% endblock %}

<!-- table_title block -->
{% block table_title %} Record history {% endblock %}

<!-- table_content block -->
{% block table_content %}
<thead>
  <tr>
    <th>ID</th>
    <th>Host</th>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
</thead>
<tbody>
  {% for item in object_list %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.host }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.type }}</td>
    <td>
      <span class="badge {% if item.status == False %} bg-danger {% else %} bg-success {% endif %}">
        {{ item.status }}
      </span>
    </td>
    <td>{{ item.create_time }}</td>
  </tr>
  {% endfor %}
</tbody>


{% endblock %}