{% extends "layouts/base.jinja" %}

<!-- title block -->
{% block title %} Login {% endblock %}

<!-- body block -->
{% block body %}

<script type="text/javascript">
  document.body.addEventListener("htmx:beforeSwap", (event) => {
    const xhr = event.detail.xhr;
    if (event.detail.target.id === "message") {
      if (xhr.status !== 200) {
        event.detail.serverResponse = "Unexpected error occurred.";
      } else {
        const json = JSON.parse(xhr.response);
        if (json.error) {
          event.detail.serverResponse = json.error;
        } else {
          event.detail.serverResponse = json.success;
          const params = new URLSearchParams(location.search);
          const returnUrl = params.get("returnUrl") || "/";
          window.location.pathname = returnUrl;
        }
      }
    }
  });
</script>

<div class="min-h-screen flex items-center justify-center bg-base-200">
  <div class="card w-full max-w-sm bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="text-center text-2xl font-light">Sign in to DDNSS</h2>
      <form id="form" hx-post="/login" hx-trigger="submit" hx-target="#message" hx-swap="innerHTML">
        <div class="form-control mt-4">
          <label class="label" for="username">
            <span class="label-text">Username</span>
          </label>
          <input type="text" id="username" name="username" class="input input-bordered" required />
        </div>

        <div class="form-control mt-4">
          <label class="label" for="password">
            <span class="label-text">Password</span>
          </label>
          <input type="password" id="password" name="password" class="input input-bordered" required />
        </div>

        <div id="msg" class="text-error text-sm mt-2"></div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
